{% extends 'base.html' %}
{% block main %}
<script>
    var index = 0
    let imageObjectArray = []
    let currentImage = ""
    {% for entry in imageList %}
        currentImage = {img: "{{entry.view}}",
                        raw: "{{entry.raw}}",
                        process: false};
        imageObjectArray.push(currentImage);
    {% endfor %}
    document.getElementById("status").innerText = `${index}/${imageObjectArray.length}`;

    function change(ev){
        if (ev.key == "y") {
            process();
            next();
        }
        if (ev.key == "n" || ev.key == "ArrowRight") {
            next();
        }
        if (ev.key == "ArrowLeft") {
            prev();
        }
        if (ev.key == "Enter") {
            send();
        }
        document.getElementById("img").src = "/input/" + imageObjectArray[index].img;
    }

    function next(){
        if (index >= imageObjectArray.length - 1) {
            index = 0;
        }
        else {
            index += 1;
        }
        check();
    }

    function prev(){
        if (index <= 0) {
            index = imageObjectArray.length - 1;
        }
        else {
            index -= 1;
        }
        check();
    }

    function process(image){
        imageObjectArray[index].process = true;
    }

    function check(){
        if (imageObjectArray[index].process === true) {
            document.getElementById("status").style.backgroundColor = "green";
        }
        else {
            document.getElementById("status").style.backgroundColor = "red";
        }
        document.getElementById("status").innerText = `${index+1}/${imageObjectArray.length}`;
    }

    async function send(){
        let imagesToSend = {};
        let objCounter = 0;
        for (let i = 0; i < imageObjectArray.length; i++) {
            if (imageObjectArray[i].process == true) {
                imagesToSend[objCounter] = imageObjectArray[i];
                objCounter += 1;
            }
        }
        imagesToSend = JSON.stringify(imagesToSend);
        console.log(imagesToSend);
        let response = await fetch("/send?obj="+imagesToSend);
    }
</script>
<body onkeydown="change(event)" onload="check()">
    <img src="/input/{{ imageList[0].view }}" id="img"/>
    <div id="status"></div>
</body>
{% endblock %}
